<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Gitpod tutorial</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css">
</head>

<body>
	<div class="container p-5">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<form action="/create" method="POST" class="card card-body">
					<div class="form-group">
						<input type="text" name="task" placeholder="write a new task" class="form-control" autofocus>
          </div>
					<div class="form-group">
						<input type="text" name="description" placeholder="write a description" class="form-control">
          </div>
          <button class="btn btn-primary">
            Save
          </button>
				</form>

        <% tasks.forEach(function(tarea){ %>
          <div class="card card-body mt-2">
            <h5><%= tarea.task %></h5>
            <p><%=tarea.description%></p>
            <button onclick="deleteTask('<%= tarea._id%>')">Delete</button>
          </div>
        <% }) %>
			</div>
		</div>
	</div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    function deleteTask(id){
      $.ajax({
        method: "DELETE",
        url: "delete",
        data: { taskid: id},
        success: function(respuesta) {
          location.href = '/'
        },
        error: function(error) {
          const a = error.responseJSON.errors.message
          console.log(a)
        }
      })
    }
  </script>
</body>
</html>